<h1>{{conversation}}</h1>

{% set currentDay = '' %}

{% for ts,thread in data %}
{% set openThread = 0 %}
{% for item in thread %}

{% if item.date != currentDay and item.is_thread_reply == 0 %}

{% if currentDay != '' %}
</ol>
{% endif %}

<h2 id="{{ item.date }}">{{ item.date|date("F d, Y") }}</h2>
<ol>
{% set currentDay = item.date %}
{% endif %}

{% if item.is_thread_start %}
{% set openThread = 1 %}
    <li id="ts-{{ ts }}">
    {{~ include('message.html') ~}}
    <ol>
{% else %}
    <li>
    {{~ include('message.html') ~}}
    </li>
{% endif %}

{% endfor %}
{% if openThread %}
    </ol>
    </li>
{% endif %}
{% endfor %}

</ol>