<h1>{{conversation}}</h1>

{% for key, dayData in data %}
    <h2 id="{{ key }}">{{ key|date("F d, Y") }}</h2>
    <ol>
{% for ts,thread in dayData %}
{% set openThread = 0 %}
{% for item in thread %}
{% if item.is_thread_start %}
{% set openThread = 1 %}
    <li id="ts-{{ ts }}">
    {{~ include('message.html') ~}}
    <ol>
{% else %}
    <li>
    {{~ include('message.html') ~}}
    </li>
{% endif %}

{% endfor %}
{% if openThread %}
    </ol>
    </li>
{% endif %}
{% endfor %}
    </ol>

{% endfor %}
